body{
    background-color: #E3FDFD;
    color:#222831;
}

body>.intro-text{
    .merriweather-light {
        font-family: "Merriweather", serif;
        font-weight: 300;
        font-style: normal;
      }
}

/* .mernstack{
    display: flex;
    justify-content: center;
    
} */